# Taller estructura de datos
**Juan Camilo Alzate Urrego** **Cod:316505**

## Cadena de caracteres

En la siguiente celda realice:

**NOTA:** Si le parece más cómodo, añada más celdas.

1. Ingrese su nombre completo como una cadena de caracteres
2. Realizando una indexación, extraiga cada vocal que componen sus nombres y apellidos
3. Realizando una indexación inversa, extraiga cada consonante de su nombre
4. Almacene cada palabra de su nombre en una variable y, al final, sume las variables para mostrar su nombre completo

**Cada punto debe ser mostrado en pantalla.**

In [5]:
# punto 1
NAME='Juan Camilo Alzate'
print(NAME)

Juan Camilo Alzate

In [6]:
#punto 2
print(NAME[1])
print(NAME[2])
print(NAME[6])
print(NAME[8])
print(NAME[10])
print(NAME[12])
print(NAME[15])
print(NAME[17])

u
a
a
i
o
A
a
e

In [18]:
#Punto 3
print(NAME[-2])
print(NAME[-4])
print(NAME[-5])
print(NAME[-9])
print(NAME[-11])
print(NAME[-13])
print(NAME[-15])
print(NAME[-18])

t
z
l
l
m
C
n
J

In [23]:
# Punto 4
UNO = NAME[0:4]
DOS = NAME[5:11]
TRES = NAME[12:18]
print(UNO+' '+DOS+' '+TRES)

Juan Camilo Alzate

## Listas

En la siguiente celda realice:

**NOTA:** Si le parece más cómodo, añada más celdas.

1. Realice una lista que tenga, por lo menos, 7 instrumentos musicales de viento.
2. Modifique 3 elementos de la lista anterior, en la posición que quiera, con instrumentos musicales de cuerda.
3. Borre los últimos 4 elementos de la lista. 

**Cada punto debe ser mostrado en pantalla.**

In [38]:
# punto 1
INST=['Harmónica','Ocarina','Shakuhachi','Erke','Tuba','Trompeta','Fagot','Oboe','Picolo']
print(INST)

['Harmónica', 'Ocarina', 'Shakuhachi', 'Erke', 'Tuba', 'Trompeta', 'Fagot', 'Oboe', 'Picolo']

In [39]:
# Punto 2
INST[2]='Arpa'
INST[4]='Laúd'
INST[7]='Violonchelo'
print(INST)

['Harmónica', 'Ocarina', 'Arpa', 'Erke', 'Laúd', 'Trompeta', 'Fagot', 'Violonchelo', 'Picolo']

In [40]:
# punto 3
INST[5:]=[]
print(INST)

['Harmónica', 'Ocarina', 'Arpa', 'Erke', 'Laúd']

En la siguiente celda realice:

**NOTA:** Si le parece más cómodo, añada más celdas.
    
1. Realice una lista que tenga, por lo menos, 10 paises europeos.
2. Realice una lista que contenga, por lo menos, 10 paises asiáticos. 
3. Utilizando la función extend(), añada la lista de paises asiáticos a la lista de paises europeos. 
4. Utilizando la función len(), muestre la cantidad de elementos de la nueva lista.
5. Inserte la palabra "TALLER" en en 5ta y en la 17va posición. Para comprobar que están en la posición correcta, con ayuda de la función index(), muestre los índices respectivos. 
6. Organice la nueva lista en orden alfabético. 
7. Quite todos los elementos de la lista. 

**Cada punto debe ser mostrado en pantalla.**

In [89]:
# Punto 1
EUR= ['España','Estonia','Francia','Italia','Luxemburgo','Portugal','Rumanía','Suecia','Lituania','Bélgica','Croacia',
     'Chipre']
print(EUR)

['España', 'Estonia', 'Francia', 'Italia', 'Luxemburgo', 'Portugal', 'Rumanía', 'Suecia', 'Lituania', 'Bélgica', 'Croacia', 'Chipre']

In [90]:
#punto 2
ASI=['Afganistán','Birmania','Catar','China','Japón','Israel','Nepal','Taiwán','Vietnam','Mongolia','Kazajistán']
print(ASI)

['Afganistán', 'Birmania', 'Catar', 'China', 'Japón', 'Israel', 'Nepal', 'Taiwán', 'Vietnam', 'Mongolia', 'Kazajistán']

In [91]:
# punto 3
EUR.extend(ASI)
print(EUR)

['España', 'Estonia', 'Francia', 'Italia', 'Luxemburgo', 'Portugal', 'Rumanía', 'Suecia', 'Lituania', 'Bélgica', 'Croacia', 'Chipre', 'Afganistán', 'Birmania', 'Catar', 'China', 'Japón', 'Israel', 'Nepal', 'Taiwán', 'Vietnam', 'Mongolia', 'Kazajistán']

In [92]:
# punto 4
len(EUR)

23

In [95]:
# punto 5
EUR.insert(5,'Taller')
EUR.insert(17,'Taller')
a=EUR.index('Taller',1,9)
print(a)
b=EUR.index('Taller',10,23)
print(b)

5
17

In [97]:
# punto 6
a=EUR.sort()
print(EUR)

['Afganistán', 'Birmania', 'Bélgica', 'Catar', 'China', 'Chipre', 'Croacia', 'España', 'Estonia', 'Francia', 'Israel', 'Italia', 'Japón', 'Kazajistán', 'Lituania', 'Luxemburgo', 'Mongolia', 'Nepal', 'Portugal', 'Rumanía', 'Suecia', 'Taiwán', 'Taller', 'Taller', 'Taller', 'Taller', 'Taller', 'Taller', 'Vietnam']

In [99]:
# punto 7
del EUR[:23]
print(EUR)

[]

## Conjuntos

En la siguiente celda realice:

**NOTA:** Si le parece más cómodo, añada más celdas.

1. Realice un conjunto con todas las letras del alfabeto español. 
2. Realice un conjunto con todas las consonantes del alfabeto español. 
3. Realice la diferencia de ambos conjuntos; tanto conjunto1-conjunto2 como conjunto2-conjunto1.
4. Actualice el conjunto del punto 1 con la intersección entre el conjunto del punto 2. 
5. Remueva las siguientes letras del conjunto del punto 4: b,f,k,n,y,z. 
6. Realice un conjunto con todas las vocales del alfabeto español. 
7. Realice la unión entre los conjuntos del punto 4 y del punto 6. 

**Cada punto debe ser mostrado en pantalla.**

In [127]:
# punto 1
abc={'a','b','c','d','e','f','g','h','i','j','k','l','m','n','ñ','o','p','q','r','s','t','u','v','w','x','y','z'}
print(abc)

{'s', 'p', 'l', 'u', 'z', 'm', 'i', 't', 'g', 'v', 'q', 'r', 'j', 'x', 'w', 'a', 'd', 'n', 'f', 'c', 'ñ', 'b', 'e', 'o', 'y', 'h', 'k'}

In [128]:
# punto 2
cons={'b','c','d','f','g','h','j','k','l','m','ñ','p','q','r','s','t','v','w','x','y','z'}
print(cons)

{'s', 'p', 'l', 'z', 'm', 't', 'g', 'v', 'q', 'r', 'j', 'x', 'w', 'd', 'f', 'c', 'ñ', 'b', 'y', 'h', 'k'}

In [129]:
# punto 3
a=abc.difference(cons)
print(a)
a=cons.difference(abc)
print(a)

{'n', 'o', 'u', 'i', 'a', 'e'}
set()

In [134]:
# punto 4
a=abc.intersection_update(cons)
print(abc)

{'s', 'p', 'l', 'z', 'm', 't', 'g', 'v', 'q', 'r', 'j', 'x', 'w', 'd', 'f', 'c', 'ñ', 'b', 'y', 'h', 'k'}

In [141]:
# punto 5
abc.discard('b')
abc.discard('f')
abc.discard('k')
abc.discard('y')
abc.discard('z')
print(abc)

{'s', 'p', 'l', 'm', 't', 'g', 'v', 'q', 'r', 'j', 'x', 'w', 'd', 'c', 'ñ', 'h'}

In [142]:
# punto 6
voca={'a','e','i','o','u'}
print(voca)

{'o', 'u', 'i', 'a', 'e'}

In [149]:
# punto 7
a=abc.union(voca)
print(a)

{'s', 'ñ', 'c', 'p', 'l', 'u', 'm', 'i', 't', 'e', 'g', 'v', 'q', 'o', 'r', 'h', 'j', 'x', 'w', 'a', 'd'}

## Diccionarios

En la siguiente celda realice: 
    
**Nota:** Si le parece más cómodo, añada más celdas. 

1. Realice un diccionario con 7 elementos. Las claves deben ser por lo menos 7 datos personales cualquiera y los valores pueden inventar algo que les corresponda. Ejemplo: 'Nombre':'Armando Casas'.
2. Aplique la función items() al diccionario del punto 1. 
3. Extraiga las claves del diccionario del punto 1.
4. Extraiga los valores del diccionario del punto 1. 
5. Aplique la función get() al diccionario del punto 1 y obtenga, por lo menos, los valores de 4 claves.

In [156]:
# punto 1
DATE={'Nombre ':'Jose Repelin',
     'Fecha de nacimiento':' 08/01/1590',
     'Lugar de nacimiento':' Ni idea',
     'Estatura':' Muy alto',
     'Telefono':' 3 gritos',
     'Dirección':' Calle lagarto esquina',
     'Carrera':' Teología',
     'Codigo':'007',
     'Semestre':'decimoctavo'}
print(DATE)

{'Nombre ': 'Jose Repelin', 'Fecha de nacimiento': ' 08/01/1590', 'Lugar de nacimiento': ' Ni idea', 'Estatura': ' Muy alto', 'Telefono': ' 3 gritos', 'Dirección': ' Calle lagarto esquina', 'Carrera': ' Teología', 'Codigo': '007', 'Semestre': 'decimoctavo'}

In [158]:
# punto 2
a=DATE.items()
print(a)

dict_items([('Nombre ', 'Jose Repelin'), ('Fecha de nacimiento', ' 08/01/1590'), ('Lugar de nacimiento', ' Ni idea'), ('Estatura', ' Muy alto'), ('Telefono', ' 3 gritos'), ('Dirección', ' Calle lagarto esquina'), ('Carrera', ' Teología'), ('Codigo', '007'), ('Semestre', 'decimoctavo')])

In [159]:
# punto 3
a=DATE.keys()
print(a)

dict_keys(['Nombre ', 'Fecha de nacimiento', 'Lugar de nacimiento', 'Estatura', 'Telefono', 'Dirección', 'Carrera', 'Codigo', 'Semestre'])

In [160]:
# punto 4
a=DATE.values()
print(a)

dict_values(['Jose Repelin', ' 08/01/1590', ' Ni idea', ' Muy alto', ' 3 gritos', ' Calle lagarto esquina', ' Teología', '007', 'decimoctavo'])

In [163]:
a=DATE.get('Nombre ')
print(a)
a=DATE.get('Dirección')
print(a)
a=DATE.get('Carrera')
print(a)
a=DATE.get('Semestre')
print(a)

Jose Repelin
 Calle lagarto esquina
 Teología
decimoctavo